/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: red;
    color: white;
}

header,
footer {
    width: 100%;
    background: #EEE;
    color: black;
}

header img.logo {
    height: 2rem;
}

// **************************Header*********************************

#nav_wrapper {
    background-color: white;
}

.nav_left {
    padding: 1rem 0;

    #nav_logo {
        width: 65px;
    }
}

.nav_right {
    padding: 1rem 0;
}

.link {
    color: black;
    text-decoration: none;

    & :hover {
        opacity: 0.7;
    }
}

#jumbo {
    height: 310px;

}

.carousel_img {
    object-fit: cover;
    object-position: top;
    height: 310px;
    width: 100%;
    opacity: 0.6;
}